/*колір основного тексту : #757575;*/
/*колір додаткового тексту : #212121;*/
/*колір акценту : #2196F3;*/
/*колір лого шапка : #000000;*/
/*колір білого тексту : #FFFFFF);*/
/*додатковий колір фону : #F5F4FA;*/
/*колір баннера : #2F303A; */
:root{
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F4FA;
}

body{
background-color: #FFFFFF;
color: var(--primary-text-color);
font-family: Roboto, sans-serif;

}

h1, h2, h3, h4, h5, h6, p, ul{
padding: 0;
margin: 0;
}

.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
         outline: 2px solid tomato;
}
/*шапка*/
.page-header{

}

.logo{
color:var(--accent-color);
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-header{
color: #000000;
}

ul{
 list-style: none;
}

a{
 text-decoration: none;
}

.link{
color: var(--title-text-color);
}

.link.contacts{
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link:hover,
.link:focus{
color:var(--accent-color);
}

.link.current{
color: var(--accent-color);
}

.site-nav .link{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


/*герой*/

.hero{
color: #FFFFFF;
background-color: #2F303A;
text-align: center;
width: 1600px;
height: 600px;

}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
}

.hero-button{
display: inline-block;
border: 1px solid #000000;
border-radius: 4px;
padding: 10px 32px;
min-width: 152px;


background-color: var(--accent-color);
color:  #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.15);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


cursor: pointer;
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.86;

align-items: center;
letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus{
background-color: background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
/*особливості*/

.specials{
   
    
}

.specials-title{
color: var(--title-text-color); 
margin-bottom: 10px;
padding-top:  35px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
letter-spacing: 0.03em; 
}

.specials-text{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/*послуги*/

.service{
    
}

.section-title{
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
padding-bottom:  50px;
padding-top: 94px;
}



/*команда*/

.komand{
background-color: var(--primary-bg-color);
}

.komand-foto{
margin-bottom: 30px;
}

.komand-title{
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
padding-bottom: 10px;
}

.komand-text{
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
padding-bottom: 30px;
}

/*підвал*/

.footer{
background-color: #2F303A;
}

.logo-footer{
color: #FFFFFF;
}


.address{
color: #FFFFFF;
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.address:hover,
.address:focus{
color: var(--accent-color);
}

.footer-contacts{
color: rgba(255, 255, 255, 0.6);
}

/*портфоліо фільтри*/
.portfolio-btn{
display: inline-block;
border: none;
border-radius: 4px;
padding: 6px 22px;
min-width: 73px;
cursor: pointer;

background-color: var(--primary-bg-color);
color: var(--title-text-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
}
    
.portfolio-btn:hover,
.portfolio-btn:focus{
background-color: var(--accent-color);
color: #FFFFFF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/*проекти*/
.project-title{
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.project-text{
color: var(--primary-text-color);
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}















